.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    margin: 0 100px;
}

.photograph-header .texte,
.photograph-header .photo {
    width: 35%;
}

.photograph-header .photo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.photograph-header h1 {
    font-size: 4rem;
    color: #D3573C;
    font-weight: 400;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.photograph-header h2 {
    font-size: 1.5rem;
    color: #901C1C;
    font-weight: 400;
    margin: 10px 0;
}

.photograph-header p {
    font-size: 1.125rem;
    color: #525252;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
}

.contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact_button:hover,
.contact_button:focus {
    background-color: #DB8876;
    color: black;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/**********BANNER**********/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DB8876;
    width: 376px;
    height: 70px;
    position: fixed;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    right: 36px;
    bottom: 0px;
    transition: all 0.3s ease ease-in-out;
}

.banner:focus {
    background-color: #901C1C;
    color: white;
}

.banner:focus img  {
    filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

.banner p,
.banner h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.banner img {
    margin-left: 10px;
    order: 1;
}

.banner p {
    flex: 0.1;
    order: 0;
}

.banner h3 {
    text-align: end;
    flex: 0.5;
    order: 2;
}

/**********PHOTOGRAPH-MEDIAS**********/
.photograph-medias {
    margin: 10px 100px;
    position: relative;
}

/**********TRIER**********/
.trier {
    position: absolute;
    z-index: 1;
    display: flex;
}

.trier p {
    font-size: 1.125rem;
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 70px;
    margin-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #901c1c;
    color: white;
    border: none;
    padding: 0;
    transition: all 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #DB8876;
    color: black;
}

.vitrine {
    display: flex;
    flex: 0.7;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "DM Sans";
    justify-content: flex-start;
    margin-left: 20px;
}

#vitrine_arrow {
    flex: 0.3;
    font-size: 1.25rem;
}

.selector {
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 170px;
    height: 210px;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
    background-color: #901c1c;
    color: white;
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line {
    display: flex;
    width: 135px;
    background-color: white;
    flex: 0.01;
    align-items: flex-end;
    margin: 0 0 0 15px;
}

.bloc_popularite {
    font-size: 1.125rem;
    font-weight: 700;
    height: 70px;
    transition: all 0.3s ease;
    height: 70px;
}

.bloc_popularite:hover,
.bloc_popularite:focus {
    background-color: #DB8876;
    color: black;
    border-radius: 5px 5px 0 0;
}

.bloc_popularite span {
    font-family: "DM Sans", sans-serif;
    font-size: 1.125rem;
}

#arrow {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 1.25rem;
    font-family: "DM Sans";
    font-size: 1.125rem;
}

#arrow::before {
    font-family: 'FontAwesome';
    font-size: 1.25rem;
}

.bloc_date,
.bloc_titre {
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: 700;
    height: 70px;
    transition: all 0.3s ease;
    height: 70px;
}

.bloc_date:hover,
.bloc_date:focus {
    background-color: #DB8876;
    color: black;
}

.bloc_date {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

.bloc_titre {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

.bloc_titre:hover,
.bloc_titre:focus {
    background-color: #DB8876;
    color: black;
    border-radius: 0 0 5px 5px;
}

.date {
    display: flex;
    flex: 0.99;
    margin-left: 20px;
    align-items: center;
}

.titre {
    display: flex;
    flex: 0.99;
    margin-left: 20px;
    align-items: center;
    height: 100%;
}

/**********MEDIA_SECTION**********/
.media_section {
    position: absolute;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 70px;
    top: 95px;
    padding-bottom: 100px;
    width: 100%;
}

.media_section .media-image, video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s ease ease-in-out;
    cursor: pointer;
}

.media_section .media-image:hover, 
video:hover {
    opacity: 0.7;
}

.infos-image {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #901C1C;
    font-size: 1.5rem;
    font-weight: 500;
}

.media_section h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
    flex: 0.8;
    transition: all 0.3s ease ease-in-out;
}

.media_section h2:focus {
    color: #DB8876;
}

.media_section p {
    margin-block-start: 0;
    margin-block-end: 0;
    flex: 0.15;
    text-align: center;
}

.media_section .heart-like {
    filter: invert(12%) sepia(44%) saturate(5161%) hue-rotate(352deg) brightness(107%) contrast(87%);
    text-align: end;
    flex: 0.05;
    transition: all 0.2s ease-in-out;
}

.media_section .heart-like:hover,
.media_section .heart-like:focus {
    cursor: pointer;
    filter: invert(85%) sepia(21%) saturate(3862%) hue-rotate(306deg) brightness(92%) contrast(84%);
}

/**********LIGHTBOX**********/
.lightbox {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}

#lightbox__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 75px;
    left: 90vw;
    opacity: 1;
    transition: opacity .3s;
    z-index: 5;
}

#lightbox__close:hover,
#lightbox__close:focus {
    opacity: 0.5;
}

#lightbox__next,
#lightbox__prev {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 47%;
    z-index: 4;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

#lightbox__prev {
    right: 90vw;
}

#lightbox__next {
    left: 90vw;
}

#lightbox__next:hover,
#lightbox__prev:hover,
#lightbox__next:focus,
#lightbox__prev:focus {
    opacity: .5;
}

.media-lightbox, 
.lightbox video {
    
    margin-top: 60px;
    width: 73%;
    flex-grow: 1;
    object-fit: cover;
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
}

.lightbox h2 {
    display: flex;
    color: #901C1C;
    height: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 1.5rem;
    width: 73%;
    align-items: center;
}

.lightbox h2:focus {
    color: black;
}

/**********MODAL DE CONTACT**********/
#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.24);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 83vh;
    align-items: center;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.521) 0 0 15px;
    overflow: auto;
    position: relative;
}

.modal header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.modal img,
.modal-confirm img {
    position: absolute;
    
    cursor: pointer;
    top: 35px;
    right: 35px;
}

.modal header h2,
.modal header p {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

form {
    width: 100%;
}

form label {
    color: #312E2E;
    font-size: 2.25rem;
}

form label:focus {
    color: black;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.5625rem;
    border: 2px solid transparent;
}

form input:hover,
form input:focus {
    border: 2px solid #737373;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 1.5626rem;
    border: 1px solid transparent;
}

form textarea:hover,
form textarea:focus {
    border: 1px solid #737373;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #901C1C;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.9em;
    color: #901C1C;
    font-weight: 600;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #901C1C;
}

.modal-confirm {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    padding: 35px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.521) 0 0 15px;
    font-weight: 400;
    font-size: 2.25rem;
    display: none;
}

.modal-confirm img {
    margin: 0;
    margin-left: 630px;
}

/********************/
.texte div, 
.photo img,
.trier p,
video, 
.nomContact {
    transition: all 0.3s ease ease-in-out;
}
.texte div:focus,
img:focus,
.trier p:focus,
video:focus,
.nomContact:focus {
    opacity: 0.7;
}

/**********MEDIA QUERIES**********/
@media screen and (max-width: 767px) {
    .photograph-header {
        flex-direction: column;
        height: auto;
        margin: 0;
    }

    .photograph-header .texte,
    .photograph-header .photo {
        width: 90%;
        margin-bottom: 15px;
        text-align: center;
    }

    .photograph-header .photo {
        justify-content: center;
        margin-top: 15px;
    }

    .trier {
        position: relative;
        top: 0;
        justify-content: center;
    }

    .media_section {
        grid-template-columns: 1fr;
        margin: 20px 0;
    }

    .photograph-medias {
        margin: 20px 10px;
    }

    .banner {
        width: 100%;
        right: 0;
        border-radius: 0;
    }

    .modal header {
        flex-direction: row;
    }

    .modal {
        height: 95vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .photograph-header {
        padding: 0 10px;
        margin: 0 30px;
    }

    .texte h1 {
        font-size: 2.5rem;
    }

    .texte h2,
    .texte p {
        font-size: 1rem;
    }

    .photograph-header img {
        height: 150px;
        width: 150px;
    }

    .media_section {
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
    }

    .photograph-medias {
        margin: 20px 30px;
    }
}

@media screen and (min-width: 1441px) {}