@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header a {
    transition: all 0.3s ease ease-in-out;
}

header a:focus {
    opacity: 0.7;
}

.logo {
    height: 50px;
    margin-left: 100px;
    transition: all 0.3s ease ease-in-out;
}

.logo:hover {
    opacity: 0.7;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-size: 2.25rem;
    font-weight: 400;
    transition: all 0.3s ease ease-in-out;
}

h1:focus {
    opacity: 0.7;
}

/**********PHOTOGRAPHER_SECTION**********/
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.photographer_section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.photographer_section div {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link {
    transition: all 0.3s ease ease-in-out;
    cursor: pointer;
}

.link:hover,
.link:focus {
    opacity: 0.7;
}

.static-text {
    transition: all 0.3s ease ease-in-out;
}

.static-text:focus {
    opacity: 0.7;
}

.photographer_section h2 {
    color: #D3573C;
    font-size: 2.25rem;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.photographer_section h3 {
    color: #901C1C;
    font-size: 0.75rem;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.photographer_section h4 {
    font-size: 0.625rem;
    margin-top: -10px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.photographer_section p {
    color: #757575;
    font-size: 0.5rem;
    font-weight: 400;
    padding-top: 4px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/**********MEDIA QUERIES**********/
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    .index-header {
        justify-content: unset;
        margin-top: 10px;
    }

    .logo {
        margin: 10px 0 0 0;
    }

    header h1 {
        margin-right: 0;
    }

    .photographer_section {
        display: block;
    }

    .photographer_section article {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    header {
        justify-content: space-around;
    }

    .logo {
        margin-left: 0;
    }

    header h1 {
        margin-right: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}